body {
  font-family: 'Muli', sans-serif;
  color: white;
}

.orange {
  background-color: #fda339;
}

.aqua {
  background-color: #57d6d4;
}

.melon {
  background-color: #ff5f60;
}

.green {
  background-color: #a7db48;
}
