<style>
   body {
     text-align: center;
     background-color: {{color}};
   }
</style>

<h1>Compliment</h1>
{{#if}}
  <p>Good day, {{name}}, here is your compliment</p>
{{/if}}
<div>
  <h3>Daily Compliment</h3>
  <p>{{compliment}}</p>
</div>
