<h3>Add to the Flock</h3>
<form class="form" action="/compliments" method="post">
  <input class="textfield" name="compliment[body]" placeholder="Don't be Sheepish, Say it Here!">
  <button class="button" type="submit">Ram it in the list!</button>
</form>
