<div>
  {{#if complimentee}}
  <div class="image">
    <img src="http://nerdist.com/wp-content/uploads/2014/03/nerdist488FB.jpg" />
    <h2 class="name">Dear {{ complimentee }} : </h2>
  </div>
  {{/if}}
  <h2>{{ compliment }}</h2>
  <div class="trophies">
    <img src="http://images.clipartpanda.com/trophy-clipart-7cagzxdcA.jpeg" />
    <img src="http://images.clipartpanda.com/trophy-clipart-7cagzxdcA.jpeg" />
    <img src="http://images.clipartpanda.com/trophy-clipart-7cagzxdcA.jpeg" />
    <img src="http://images.clipartpanda.com/trophy-clipart-7cagzxdcA.jpeg" />
    <img src="http://images.clipartpanda.com/trophy-clipart-7cagzxdcA.jpeg" />
  </div>
</div>
