<h2>Don't worry, be happy</h2>


<h3>{{compliment.text}}</h3>


<form action="/:name" method="post">
  <span>What's your name, man?</span>
  <input type="text" name="complimentee[name]" placeholder="Name"/>
  <button type="submit">Praise me!</button>
</form>
