<style>
  body {
    background-color: {{color}};
  }
</style>
<div class="ghost-host">
  <a href="/"><img src="/assets/images/ghost.gif" alt="Friendly Ghost"/></a>
  <p>
    {{compliment}}
  </p>
</div>
