<div class="compliment">
  <h1 class="font">{{compliment.body}}</h1>
  <h3>Create Compliment:</h3>
  <form action="/compliments" method="post">
    <input type="text" name="compliment[body]" placeholder="Compliment">
    <button type="submit">Submit</button>
  </form>

</div>
