<script>
window.addEventListener("load", function(){
  var bgColors = ["#5555fb", "#f2f250", "#35f535", "#f69d34", "#f781e4", "#61e9f6", "#b35dff"];
  document.body.style.background=bgColors[Math.floor(Math.random()*bgColors.length)];
});
</script>
<h2>Hey {{name}}! {{compliment}}</h2>
