<h1>
{{#if name}}
Welcome {{name}}!
{{else}}
Welcome!
{{/if}}
</h1>

<h2></h2>

<form action="/" method="post" class="new-compliment">
    <input type="text" name="compliment" placeholder="add compliment here" />
    <input type="submit" value="add-compliment" />
</form>
