<h1>{{compliment.body}}</h1>

<h2>Submit a compliment; share the love!</h2>
<form action="/compliments" method="post">
  <input type="text" name="compliment[body]" placeholder="The compliment!">
  <input type="submit">
</form>
