<style>
   body {
     background-color: {{color.rgb}};
   }
 </style>
 
 <h3>
   {{compliment.body}}
 </h3>
 
 <form action="/" method="post">
   <input type="text" name="compliment[body]" placeholder="New Compliment">
   <Button type="submit">Add A Compliment</button>
 </form>