<div class="container">
<!-- <h2>{{compliments.length}} compliments</h2>
{{#each compliments as |compliment index|}}
<h3>
  <a href="/compliments/{{compliment.body}}">"{{compliment.body}}"
</h3>
{{/each}} -->
<p>
  {{compliment}}
</p>
</div>
<h2 class="container button"><a href="/compliments">Fluff Me Again!</a></h2>
