<h1>Create Your Own Compliment</h1>

<form action="/create/new" method="post">
    <input type="text" name="compliment" placeholder="Enter your comment here..."/>
    <button type="submit">Create</button>
</form>
