
<body style="background:{{color}}">
{{#if name}}
<h3>hey {{name}},</h3>
{{/if}}

{{comp}}

<form action="/" method="POST">
   <input type="text" name="comp" placeholder="add a new compliment">
   <input type="submit">
</form>

</body>
