<style>
body {
  /*font-color: white;
  font-weight:bolder;
  font-size: 30px;
  text-align: center;
  font-family:'Helvetica Neue';*/
  background-color: {{color}};
}
</style>

<h1>Hello Here is The Compliment Chosen Expressly for YOU!<h1>
<div>
   <p>{{compliment}}</p>
</div>
