
<style>
   body {
     text-align: center;
     background-color: {{color}};
   }
</style>

<h1>Compliment</h1>
{{#if}}
  <p>Accroding to today, {{name}}, your best compliment of the day</p>
{{/if}}
<div>
  <h3>Everyday Compliment</h3>
  <p>{{compliment}}</p>
</div>
