<body style="background-color: {{{color}}}">
  {{{ compliment }}}

  <form action="/" method="post">
  <label for="user_compliment">Please enter your compliment</label>
  <input type="text" name="user_compliment" placeholder="enter your compliment">
  <input type="submit">
</form>
</body>
