<style>
  body {
    font-size: 30px;
    text-align: center;
    background-color: {{color}};
  };
</style>

<h2>Hi there {{name}} !</h2>
<div>
<p>Quick! We need an Emergency Compliment, STAT!!</p>
<p>{{compliment}}</p>
</div>
