<style>
  body {
    font-size: 35px;
    text-align: center;
    font-style: "Times New Roman", Times, serif;
    color: white;
    text-shadow: 5px 5px #ff0001;
    background-color: {{color}};
  };
</style>

<h1>Welcome to Express Compliments</h1>
<div>
  <h2>Your Compliment for Today:</h2>
  <p>{{compliment}}</p>
</div>
