<style>
  body{
    background-color: {{color}};
  }
</style>

{{compliment}}
<button type="submit">No</button>
<form action="/" method="post">
  <input type="text" name="compliment" placeholder="Enter new Compliment">
  <button type="submit">Submit</button>
</form>
