<h2> Welcome to Emergency Compliment {{{name}}}!</h2>
<h1>{{{compliment}}}</h1>
<h2> <a href=""> Want Another?</a></h2>


<form  action="/{{name}}/new" method="post">
  <input type="text" name="newCompliment" placeholder="Add a compliment">
  <button type='submit'> Submit </button>
</form>
