<p>{{compliment}} {{name}}</p>


<form action="/" method="POST">
  <input type="text" name="newCompliment" placeholder="Enter a compliment...">
  <input type="submit">
</form>

<p>New compliment: {{newCompliment}}</p>
