<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> </title>
  </head>
  <style>
    body {
      background-color: {{{randomColors}}};
    }
  </style>
  <body>
    <h2>{{{name}}}</h2>
    <h3>{{{randomCompliment}}}</h3>

  </body>
</html>
