<h1>Emergency Compliments</h1>
<div>
  <h2>Your Compliment</h2>
  <p>{{compliment}}</p>
</div>

<form action="/" method="post">
	<label for="new_compliment">Enter your own compliment</label>
	<input id="new_compliment" type="text" name="new_compliment">
	<input type="submit">
</form>
