<style>
  body {
    text-align: center;
    font-size: 40px;
    background-color: {{color}};
  }

</style>

<h2>Here are the Compliments</h2>

<div>
  <h3>Your Compliment</h3>
  <p>{{compliment}}</p>
</div>
