{{{randomCompliment}}}{{{name}}}
{{!-- solution branch gave me the action= part --}}
<form action="/" method="POST"> 
 <input type="text" name="name" placeholder="Enter your name" />
 <input type="text" name="compliment" placeholder="Enter a compliment" />
 <input type="submit" value="Submit" />
</form>