
<style>
  body {
    font-size: 30px;
    text-align: center;
    background-color: {{color}};
  }
</style>
<body>

<h2>Greetings!</h2>

<div>
  <h2>Enjoy Your Compliment:</h2>
  <p>{{compliment}}</p>
</div>
