<h1> Hey {{name}}, {{compliment}} </h1>

<body style="background-color: {{color}};">
</body>
<br>
<br>
<form action="/{{name}}" method="post">
  <label for="new_compliment"> Add a compliment </label>
  <input id="new_compliment" type="text" name="new_compliment">
  <button type="submit" name="Submit"> Submit </button>
</form>
