<h1> {{compliments}} </h1>

<script>
  // document.getElementById('blog').style.background = colors[ Math.floor( Math.random() * colors.length ) ]

  document.body.style.backgroundColor = "{{colors}}"

</script>
