<style>
  body {
    background-color: {{color.hash}};
  }
</style>

{{#if name}}
  <p>Hello, {{name}}!</p>
{{else}}
  <p>Hello!</p>
{{/if}}

<p>{{sass.text}}</p>

<form action="/" method="post">
  <textarea name="sass[text]" placeholder="new sass"></textarea>
  <div><button type="submit">Create</button></div>
</form>
