<style>
  body {
    background-color: {{color}};
  }
</style>

<h2>Like I said before {{name}}...</h2>
<h2>{{compliment}}</h2>
<br>
<h3>Don't like my cheers {{name}}?</h3>
<h3>What would you like me to tell you:</h3>

<form action="/" method="post">
  <h3><label>Compliment:</label></h3>
  <input type="text" name="comp">
  <input type="submit">
</form>
