<main>

<header>Express compliments</header>

<div class="compliment_box"  style="background:{{color}};">

<p>{{name}}, {{compliment}}</p>

</div>


<div class="button_box">

  <input type="button" value="Refresh Page" onClick="window.location.reload()">

</div>


</main>
