<style>
  body {
    font-size: 40px;
    text-align: center;
    background-color: {{color}};
  }
</style>

<h1>Compliments</h1>

<div>
  <h2>Emergency Complement</h2>
  <p>{{compliment}}</p>
</div>
