<style>
  body {
    font-size: 30px;
    text-align: center;
    background-color: {{color}};
  }
  div{
    margin-bottom: 20px;
  }
  a{
    padding: 10px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-style: outset;
  }
  a:hover{
    border-style: inset;
    border-color: lightgray;
  }
</style>

<h1>Compliment</h1>
<div>
  <h2>Your Compliment:</h2>
  <p>{{compliment}}</p>
  <a href=".">New Compliment</a>
</div>
