<main style="background:{{color}};">

{{#if name}}
  Hi {{name}},
{{/if}}

<div class="compliment">
  {{compliment}}
</div>

<button id="button">I need another one</button>

</main>

<footer>
  <h2>Add a compliment</h2>
  <form action="/" method="post">
    <input type="text" name="compliment">
    <button type="submit">Submit</button>
  </form>
</footer>
