<h1> Hey {{name}}, Here's a compliment!</h1>
{{compliment}}

<form action="/" method="post">
  <label for="">Please enter your compliment</label>
  <input id="" type="text" name="newCompliment">
  <input type="submit">
</form>

<style>
html{
  background-color: {{color}};
}
</style>
