<main style="background: {{color}}">
<h1>Emergency Compliment</h1>
<p>{{{name}}} {{{compliment}}}</p>

<form action="/{{name}}" method="post">
  <input type="text" name="compliment" placeholder="enter new compliment">
  <button type="submit">Add Compliment</button>
</form>
</main>
