<p>
Hey there!
{{{compliment}}}
</p>

<form action="/" method="post">
  <label for="add_compliment">Add a compliment to the list!</label>
  <input type="text" name="add_compliment"></input>
  <input type="submit">
</form>
