<style>
	body {
	background-color: {{color}};
	color: white;
	font-size: 48px;
	padding-top: 25%;
	text-align: center;
	};
</style>

<div class="greeting">Hello you amazing person!</div>
{{compliment}}