<style>
	body {
	background-color: {{color}};
	color: white;
	font-size: 48px;
	padding-top: 25%;
	text-align: center;
	};
</style>

<div>Hello you amazing person!</div>
{{compliment}}

<form action="/" method="post">
	<label for="new_compliment">Enter your own compliment</label>
	<input id="new_compliment" type="text" name="new_compliment">
	<input type="submit">
</form>