<style media="screen">
  body {
    background-color: {{currentColor}};
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    color: white;
    font-size: 54px;
    font-weight: bold;
  }
</style>

<p>{{currentCompliment}}</p>
