<main>

<header>EXPRESS COMPLIMENTS</header>
<div class="app_body">
<div class="compliment_box" style="background:{{color}};">

  <p>{{compliment}}{{name}}</p>

  <button value="REFRESH Page" id="button2" onClick="window.location.reload()">More</button>

    <form action="submit" method="push">
      <input type="text" name="compliment" placeholder="Write your compliment here">
      <input type=submit" value="Submit">
    </form>

  </div>
</div>
</main>
