{{#if name}}
<h3>{{name}},</h3>
{{/if}}

<h1>{{compliment}}</h1>
<button>
  <a href='{{next}}'>Thanks!</a>
</button>
<button>
  <a href='{{next}}'>Meh.</a>
</button>

<h2 class="formH2">Say Something Nice!</h2>
<form action="/" methods="post">
    <input class="input" type="text" placeholder="Add a compliment here...">
    <input class="submit" type="submit" value="Post Compliment">
</form>
