<h2>Hey, you, hey.</h2>
<h2>{{compliment}}</h2>
<style>
  body {
    background-color: {{color}};
    font-family: helvetica;
    color: white;
    width: 20%;
    margin-left: 150px;
  }
  div {
    font: bold 72px helvetica;
    margin-top: 50px;
  }
</style>

<form action="/" method="post">
  <label for="compliment">Please enter a compliment!</label>
  <input id="compliment" type="text" name="compliment" />
  <input type="submit">
</form>
