<style>
  body{
    background-color: {{color}};
    text-align: center;
    font-family: helvetica, sans-serif;
    }
  div{
    font-size: 3em;
    margin: 200px auto 50px auto;
    border: 8px solid pink;
    border-radius: 20px;
    padding: 30px;
    width: 50%;
    color: white;
  }
  a{
    font-size: 3em;
    color: white;
  }
</style>

<div>
  {{compliment}}
</div>

<a href="/">Next Compliment Please!</a>
