<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Emergency Compliment</title>
  </head>
  <body style="background-color: {{{color}}}">
    <h1>{{{compliment}}}</h1>
  </body>
</html>
