<h1> Emergency Compliment</h1>
<body style = "background-color: {{{color}}}" >
  <p> Hi {{{name}}}, </p>
  <p> {{{compliment}}} </p>
    <p> <a href="/"> Thanks! </a> <a href="/"> Meh! </a> </p>
<form action="/" method="post">
<input type="text" name="anotherCompliment" >
<input type="submit">
</form>
</body>
