<style>
  body {

    color: white;
    font-size: 25px;
    text-align: center;
    text-shadow: 3px 3px 1px black;
    background-color: {{color}};

};
 </style>

 <h1> Your Express-Compliment </h1>
 <h2> Today's compliment is:</h2>
 {{compliment}}
