
<style>
  body {
    font-size: 30px;
    text-align: center;
    background-color: {{color}};
  };
</style>

<h1>Express Compliments</h1>
<div>
  <h2>Your Compliment Today:</h2>
  <p>{{compliment}}</p>
</div>
