<h1> {{name}} </h1>
<h2> {{randomCompliments}} </h2>

<form action="/" method="post">
    <label for="newCompliments"> Add new compliments! </label>
    <input id="newCompliments" type="text" name="newCompliments">
    <input type="submit">
</form>