<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <style>
  body {
    background-color: {{color}};
  };
  </style>

  <h1>Express Compliments</h1>
  <div>
    <h2>Your Compliment:</h2>
    <p>{{compliment}}</p>
  </div>

  </body>
</html>
