<!DOCTYPE html>
<html>
  <head>
    <title>WDI Emergency Compliment</title>
    <link rel="stylesheet" href="/public/css/style.css"/>
    <script src="/public/js/app.js"></script>
  </head>
  <body>
    <h1><a href="/">The weather is nice, say something nice.</a></h1>
    {{{body}}}
  </body>
</html>
