<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="utf-8">
    <title>Compliment</title>
  </head>
  <body>
    <h1>Compliments</h1>
    {{{body}}}
  </body>
</html>
