<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emergency Compliment</title>
    <style>
 body {
   background-color: {{ randColor }};
   font-family: helvetica;
   color: white;
   width: 900px;
   margin: 0 auto
 }
 div {
   font: bold 35px helvetica;
   margin-top: 25px;
 }
 </style>
  </head>
  <body>
    <div>
    {{{ body }}}
  </div>
  </body>
</html>
