<!doctype html>
<html>
  <head>
    <title>Ultimate Compliment!</title>
  </head>
  <style>
    header {
      font-size: 30px;
    }
    main {
      display: flex;
      flex-direction: column;
    }
    .compliment_box {
      width: 100%;
      height: 300px;
      text-align: center;
      padding-top: 5em;
    }
    .button_box {
      width: 100%;
      height: 300px;
      text-align: center;
      padding-top: 5em;
    }










  </style>




  <body>
    {{{body}}}
  </body>
</html>
