<!DOCTYPE html>
<html>
  <head>
    <title>Quicky Pick-Me-Upper</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/assets/js/app.js"></script>
  </head>
  <body>
    <h1>Feeling Down...?</h1>
    <h2>Get a Quicky Pick-Me-Upper</h2>
    {{{body}}}
  </body>
</html>
