<!doctype html>
<html>
  <head>
    <title>Emergency Compliment</title>
    <style>
    body {
      background: {{color}};
      font-family: 'Helvetica';
    }
    h2 {
      font-size: 40px;
    }
    </style>
  </head>
  <body>
   {{{body}}}
  </body>
</html>
