<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Emergency  Compliment</title>
    <style>
    body {
        background: {{color}};
        font-family: 'Comic-sans-ms';
      }
      h3{
        font-size: 50px;
      }
    </style>
  </head>
  <body>
   {{{body}}}
  </body>
</html>
