<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Emergency Compliment</title>
  </head>
  <body>
    <div class="header">Emergency WDI Compliment</div>
    {{{body}}}
  </body>
</html>
