<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Compliments on Demand</title>
  </head>
  <body>
  <style>
    body{
      text-align: center;
      background-color: {{color}};
    };
  </style>
{{{body}}}
  </body>
</html>
