<!doctype html>
<html>
  <head>
    <title>Ultimate Compliment!</title>
    <link href="https://fonts.googleapis.com/css?family=Delius+Unicase" rel="stylesheet">
  </head>
  <style>
    header {
      font-size: 30px;
    }
    p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
    .app_body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .compliment_box {
      font-family: 'Delius Unicase', cursive;
      font-size: 20px;
      width: 600px;
      height: 300px;
      border: 5px solid black;
      text-align: center;
      border-top-left-radius: 310px;
      border-top-right-radius: 310px;
    }
    .form_box {
      font-family: 'Delius Unicase', cursive;
      font-size: 20px;
      width: 600px;
      height: 300px;
      border: 5px solid black;
      text-align: center;
      border-bottom-left-radius: 310px;
      border-bottom-right-radius: 310px;
    }
    /*.button_box {
      margin-left: -150px;
      z-index: -10000;
    }*/
    button {
      height: 50px;
      width: 100px;
      font-family: 'Delius Unicase', cursive;
      font-size: 20px;
      border: 3px soild black;
    }

    #button1 {
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      align-self: flex-end;
      margin-top: auto;
      position: relative;
      margin-top: 9em;
    }

    #button2 {
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      align-self: center !important;
      margin-bottom: auto;
    }

  </style>




  <body>
    {{{body}}}
  </body>
</html>
