<!DOCTYPE html>
<html>
  <head>
    <title>Complimenter</title>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <script src="/assets/js/app.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
