<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stunning Compliment!</title>
    <style>
    body {
      font-size: 40px;
      text-align:center;
      background-color: {{color}}
     };
    </style>

  </head>
  <body>
    <h1>Express Compliments</h1>
   {{{body}}}
  </body>
</html>
