<!DOCTYPE html>
<html>
  <head>
    <title> Compliments</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <!-- stylesheet is being linked to the styles.css file -->
    <script src="/assets/js/app.js"></script>
  </head>
  <body>
    <h1><a href="/"> This is your compliment</a></h1>
    {{{body}}}
  </body>
  </html>
