<!DOCTYPE html>
<html>
  <head>
    <title>When President</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <h1>EMERGENCY COMPLEMENTS INCOMING!</h1>
    {{{body}}}
  </body>
</html>
