<!DOCTYPE html>
<html>
  <head>
    <title> Emergency Compliments </title>
    <link rel="stylesheet" href="public/css/styles.css"/>
    <script src="/public/js/app.js"></script>
  </head>
  <body style="background-color: {{colorz}}">
    <h1><a href="/"> Click for Compliment </a></h1>
    {{{body}}} <!-- this yields information -->
  </body>
</html>
