<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cadaverous Compliments</title>

    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/assets/js/app.js"></script>
  </head>
  <body>
    <h1>Cadaverous Compliments</h1>
    {{{body}}}

  </body>
</html>
