<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emergency Compliments</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <h1><a href="/">EMERGENCY COMPLIMENTS...</a></h1>
    {{{body}}}
  </body>
</html>
