<!DOCTYPE html>
<html>
  <head>
    <title>Compliments</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="compliments" type="text/js" href="/scompliments.js">
  </head>
  <body>
    // {{{body}}}
  </body>
</html>
