<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flatter Ewe</title>
     <link rel="stylesheet" href="/assets/css/styles.css" />
     <script src="/assets/js/app.js"></script>
     <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  </head>
  <body id="coversheep">
    <h1 class="container"><a href="/">Flatter Ewe</h1>
      {{{body}}}
  </body>
</html>
