<!doctype html>
<html>
  <head>
    <title>Ultimate Compliment!</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
    <script src="/public/js/script.js"></script>
  </head>
  <body style="background-color: {{color}}">
    {{{body}}}
  </body>
</html>
