<!DOCTYPE html>
<html>
  <head>
    <title>Emergency Compliment</title>
    <link rel="stylesheet" href="/public/css/styles.css"</head>
    <script src="/public/js/app.js"></script>
  <body>
    <h1><a href="/">Emergency Compliment</a></h1>
    {{{body}}}
  </body>
</html>
