<!doctype html>
<html>
  <head>
    <title>Ultimate Compliment!</title>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
  </head>
  <style>
    header {
      font-size: 30px;
    }
    p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
    .app_body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .compliment_box {
      font-family: 'VT323', monospace;
      font-size: 22px;
      width: 600px;
      height: 300px;
      border: 5px solid black;
      text-align: center;
      border-top-left-radius: 310px;
      border-top-right-radius: 310px;
    }
    .form_box {
      font-family: 'VT323', monospace;
      font-size: 22px;
      width: 600px;
      height: 300px;
      border: 5px solid black;
      text-align: center;
      border-bottom-left-radius: 310px;
      border-bottom-right-radius: 310px;
    }

    button {
      height: 50px;
      width: 100px;
      font-family: 'VT323', monospace;
      font-size: 20px;
      border: 5px soild black;
    }

    input {
      font-family: 'VT323', monospace;
      font-size: 22px;
      border: 2px soild black;
      background-color: white;
      height: 50px;
      width: 150px;
    }

    #button1 {
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      align-self: flex-end;
      margin-top: auto;
      position: relative;
      margin-top: 9em;
    }

    #button2 {
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      align-self: center !important;
      margin-bottom: 3em;
    }

  </style>




  <body>
    {{{body}}}
  </body>
</html>
