<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ExpressCompliments</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body style="background: {{color}}">
    {{{body}}}
  </body>
</html>
