<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Compliments</title>
    <style media="screen">
      h1 {
        color: #ffffff;
        display: flex;
        flex-direction:column;
        align-items: flex-start;
      }

      body,
      p {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px 10px;
        width: 100%;
        height: 100%;
      }
       a {
        text-decoration: none;
        color: #ffffff;
        border: 1px solid #ffffff;
        display:flex;
        flex-direction: column;
        align-content: center;
        position: relative;

      }

    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
