<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/assets/css/styles.css"</head>
    <script src="/public/js/app.js">

    </script>
  <body>
    <h1><a href="/">Home</a></h1>
    {{{body}}}
  </body>
</html>
