<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Express A Compliment</title>
  <script src="/assets/script.js"></script>
</head>
<body style="background-color: {{randomColor}}">
  <h1>A Compliment For YOUUUUUU</h1>
  {{{body}}}
</body>
</html>
