<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <style>
    	html {
    		background-color: color
    	}
    </style>
  </head>
  <body>
   {{{body}}}
  </body>
</html>