<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flatter Ewe</title>
     <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body id="coversheep">
    <h1><a href="/">Flatter Ewe</h1>
      {{{body}}}
  </body>
</html>
