<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body style="background-color:red">
    <p>Why not this value not displayed? {{y}}</p>

   {{{body}}}


    <form action="/" method="POST">
     <input type="text" name="compliment" placeholder="Type your Compliment" />
     <button type="submit">Add Compliment</button>
    </form>

  </body>
</html>
