<!doctype html>
    <html>
        <head>
            <title>
                    Compliment Express
            </title>
              <link rel="stylesheet" type="text/css" href="/css/main.css" />

        
        </head>
        <body>
          <h2>
            Compliment Express
          </h2>
          {{{body}}}
          <script src="/js/main.js"></script>
        </body>
</html>

