<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Complements</title>
<link rel="stylesheet" href="/assets/styles.css" />
<script src="/public/assets/js/app.js"></script>
  </head>
  <body>
<h1><a href="/">Compliments for you!</h1>
{{{body}}}
  </body>
</html>
