<!DOCTYPE html>
<html>
  <head>
    <title>Compliment.r</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/assets/js/app.js"></script>
  </head>
  <body style="background-color:{{bkg}};">
    <h1>EVERYBODY LIKES COMPLIMENTS</h1>
    {{{body}}}
  </body>
</html>
