<!DOCTYPE html>
<html>
  <head>
    <title>Compliment Me!</title>
    <link rel ="stylesheet"
href"/public/style.css"/>  </head>
    <body>
      <h1><a href="/">Now!</a></h1>
      {{{body}}}
    </body>
</html>
