<!DOCTYPE html>
<html>
<head>
  <title>Emergency Compliment</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/stylesheet.css" />
  <script type="text/javascript" src="/assets/js/script.js"></script>

</head>
<body>
  <h1>Emergency Compliment</h1>
  <h2>You know what you need to know right now?</h2>
  {{{body}}}
</body>
</html>
