<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emergency Compliment</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <style>
      html, body {
        background-color: {{ randomColor }};
        font-family: 'Muli', sans-serif;
        color: white;
        text-align: center;
        height: 100%;
        width: 100%;
      }

      .container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }

      .header {
        margin-top: -2%;
      }

      .next {
        font-size: 42pt;
      }
    </style>
  </head>
  <body>
      {{{ body }}}
  </body>
</html>
