<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Compliments</title>
    <style media="screen">
      h1,
      body {
        color: #ffffff;

      }
      a {
        text-decoration: none;
        color: #ffffff;
        border: 2px solid #ffffff;
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
