<!DOCTYPE html>
<html>
  <head>
    <title>Take a compliment / Leave a compliment</title>
    <style>
      body{
        background-color: {{backgroundColor}};
        font-size: 4em;
        color: white;
        text-shadow: 2px 2px black;
        text-align: justify;
        font-family: "Times New Roman";
        padding:3em;
      }
      input{
        background-color: rgba(255,255,255,0.6);
        font-size: 0.4em;
        font-family: "Times New Roman";
        margin-top: 4em;
        padding: 0.4em;
        color:black;
        border: solid transparent;
      }
      input:focus{
        outline: none;
        background-color:white;
      }
      ::-webkit-input-placeholder {
        color: rgba(0,0,0,0.5);
        font-family: "courier new";
        letter-spacing: 0.1em;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: rgba(0,0,0,0.5);
        font-family: "courier new";
        letter-spacing: 0.1em;
      }
      ::-moz-placeholder {  /* Firefox 19+ */
        color: rgba(0,0,0,0.5);
        font-family: "courier new";
        letter-spacing: 0.1em;
      }
      :-ms-input-placeholder {
        color: rgba(0,0,0,0.5);
        font-family: "courier new";
        letter-spacing: 0.1em;
      }
      button{
        background-color: {{backgroundColor}};
        border: 1px solid transparent;
        font-size: 0.5em;
      }
      button:focus{
        outline:none;
      }
      button:hover{
        font-size:0.7em;
      }
      div.new{
        position: absolute;
        top: 0.3em;
        left: 0.3em;
        z-index:1000;
      }
      a, a:visited{
        color: white;
        font-family:helvetica;
        text-shadow: 2px 2px black;
        text-decoration:none;
      }
      a:hover{
        color: {{backgroundColor}};
        font-family:helvetica;
        text-shadow:none;
        -webkit-transition: color 0.4s;
      }
    </style>
  </head>
  <body>
    <div class="new">
      <a href="/" title="new compliment!">*</a>
    </div>
    {{{body}}}
    <form action="/" method="post">
      <input type="text" name="compliment[text]" placeholder="Add your own!" required>
      <button type="submit" title="SUBMIT">💞</button>
    </form>
  </body>
</html>
