<!DOCTYPE html>
<html>
  <head>
    <title>Emergency Compliment</title>
    <style>
      body{
        background-color: {{backgroundColor}};
        font-size: 4em;
        color: white;
        text-shadow: 2px 2px black;
        text-align: justify;
        padding:3em;
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
