<!DOCTYPE html>
  <html>
    <head>
      <title>Compliments</title>
      <link rel="stylesheet"
      href="public/css/styles.css"/>
    </head>
    <body>
      <h1><a href="/">Emergency Compliments....</a></h1>
      {{{body}}}
    </body>
    </html>
