<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <meta charset="utf-8">
    <title>Emergency Compliment</title>
    <style>
    html * {
      font-family: 'Patrick Hand', cursive;
    }
    body {
      margin: 0 auto;
    }
    header {
      padding: 0 40px;
    }
    main {
      color: white;
      height: 80vh;
      text-align: center;
      font-size: 60px;
      padding-top: 10%;
    }
    .compliment {
      height: 30%;
    }
    button {
      padding: 20px;
      font-size: 20px;
    }
    </style>
  </head>
  <body>
    <header>
      <h1>Emergency Compliment</h1>
    </header>
    {{{body}}}
    <script>
    document.getElementById("button").addEventListener("click", () => {
      location.reload();
    })
    </script>
  </body>
</html>
