<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emergency Compliment</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style>
      body{
        margin: 0;
      }
      main {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .random {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        border: 4px solid #fff;
        padding: 40px;
      }
    </style>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
