<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Complement</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/assets/js/app.js"></script>
  </head>
  <body style="background-color:{{randomColor.color}}">
    <h1><a href="/"> Compliment me more!  </a></h1>

    {{{body}}}

    <form method='post' action='/'>
      <input name='first'/>
      <button type='submit'>Press Gently!</button>
    </form>

  </body>
</html>
