<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inspire Today</title>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <script src="/assets/js/app.js"></script>
  </head>
  <body>
    <h1> Be Inspired. Today.</h1>
    {{{body}}}
  </body>
</html>
