<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <meta charset="utf-8">
    <title>Feelsies</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body bgcolor={{color}}>
    {{{body}}}
  </body>
</html>
