<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="utf-8">
    <title> Emergency Compliment</title>
  </head>
  <body style="background-color: {{{color}}}">
  {{{body}}}
  </body>
</html>
