<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Need a Compliment?></title>
    <style>
      body {
        font-size: 30px;
        text-align: center;
        background-color: {{color}};
      };
      </style>
    </head>
    <body>
      {{{body}}}
    </body>
    </html>
