<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
   {{{body}}}

   <div>
    <form class="form" action="/" method="POST">
      <input type="text" name="title" placeholder="Add a Compliment" />
       <input type="submit" value="Submit" />
     </form>
    </div>
   <style>
   body {
     background-color: {{color}};
    }
   </style>
  </body>
</html>
