<!doctype html>
<html>
  <head>
    <style media="screen">
      body {
        text-align: center;
      }
    </style>
    <title>Ultimate Compliment!</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
