<!doctype>
<html>
<head>
    <title>Jack Thoughts</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
    <div class="top">
        <img class="image" src="http://www.thecampussocialite.com/wp-content/uploads/jack-donaghy-mayor.jpg" />
    </div>
    <div class="bottom">
        {{{body}}}
    </div>
</body>
</html>
