<style>
  body {
    background-color: {{randColor}}
  }
</style>

<div class="container">
  <h1>EMERGENCY COMPLEMENTS INCOMING!</h1>
  <div class="compliment">Hey <span class="name">{{name}}</span>! {{randCompliment}}</div>
</div>
