<h2>Heyyyy, {{name}}!</h2>
<h2>{{compliment}}</h2>
<style>
  body {
    background-color: {{color}};
    font-family: helvetica;
    color: white;
    width: 20%;
    margin-left: 150px;
  }
  div {
    font: bold 72px helvetica;
    margin-top: 50px;
  }
</style>
