<style>
  body {
    font-size: 30px;
    text-align: center;
    background-color: {{color}};
  };
</style>
<p>Hello, {{name}}</p>

<p>{{compliment}}</p>

<form action="/{{name}}/new" method="POST">
 <input type="text" name="name" placeholder="Please Add A Compliment" />
 <input type="submit" value="Submit" />
</form>
Contact GitHub API Training Shop Blog About
