<style>
  body {
    font-size: 36px;
    text-align: center;
    background-color: {{color}};
  }
</style>
<h2>Hello, {{name}}</h2>

<h1>compliments</h1>

<div>
    <h2>Todays Compliment</h2>
    <p>{{compliment}}</p>
</div>

<form action="/{{name}}/new" method="post">
  <input type="text" placeholder="Add a Compliment">
  <input type="submit" value="Submit">
</form>
