<div class="newcompliment">
  <form action="/" method="POST">
     <input type="text" name="title" placeholder="Please Add A Compliment" />
     <input type="submit" value="Submit" />
  </form>
</div>
