<style>
  body {
    background-color: {{randColor}}
  }
</style>


<h2>Add a new compliment</h2>
<form class="newComplimnt" action="/compliments" method="post">
  <label for="compliment"></label>
  <input type="text" name="compliment" id="compliment" value="">
  <button type="submit" name="submit">Submit</button>

</form>
