
<body style="background-color:{{color}}" >

  <div Enter a new Emergency compliment </div>

  <form action="/compliment" method="post">
    <label for="new_compliment">Please enter a new compliment</label>
    <input id="new_compliment" type="text" name="new_compliment">
    <input type="submit">
  </body>
