<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emergency Insult</title>
  </head>
  <body style="background-color: {{{colorOne}}}; display: flex; justify-content: center; align-items: center; height: 100vh">
    <h1 style="color: {{{colorTwo}}}; text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black"> Dear {{{name}}}, {{{insult}}}</h1>
  </body>
</html>
