<style>

  body {
    background-color: {{color}};
  };

</style>

<h1> {{name}}'s Complement </h1>

  {{compliment}}


  <form action="/{{name}}/new" method="POST">
    <input type="text" name="name" placeholder="New Compliment"
    <button type="Submit"> Submit</button>
  </form>
