<style>
  body {
    font-size: 30px;
    text-align: center;
    background-color: {{color}};
  };
</style>

<!-- views/welcome.hbs -->
<h1>Welcome to Emergency Compliment</h1>
<h2>{{compliment}}</h2>
<form action="/" method="post">
  <label for="name">Please enter your name</label>
  <input id="name" type="text" name="name">
  <input type="submit">
</form>
