{{compliment}}
<h1>Welcome to WDI Compliment Express</h1>
<form action="/" method="post">
  <label for="user_compliment">Please enter a compliment here</label>
  <input id="user_compliment" type="text" name="user_compliment">
  <input type="submit">
</form>