
<body style="background-color:{{color}}" >

  <div id="welcome"> Welcome to Emergency compliments </div>

  <form action="/" method="post">
    <label for="player_name">Please enter your name</label>
    <input id="player_name" type="text" name="player_name">
    <input type="submit">
  </form>


  <div id="compliments" >
  <p>  Here is a sample compliment: </p>
  <h2>  {{str}} </h2>
