<h1>Please enter a compliment</h1>
<form action="/:name" method="post">
  <label for="player_compliment">Please enter a compliment</label>
  <input id="player_compliment" type="text" name="player_compliment">
  <input type="submit">
</form>
