body, html, div {
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
}
#comp{
  padding-top: 10em;
  font-size: 2em;
  -webkit-text-stroke: .1px white;
  -webkit-text-stroke: .2px black;
  height: 50%;
}
