 html{
   font-family: 'Indie Flower', cursive;
   color: white;
 }
  #coversheep {
  background-image: url("iLoveEwe.jpg");
  background-position:fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

a{
  text-decoration: none;
  color:inherit;
}
.lead {
    color: rgb(180,27,24);
}
.container.button{
  background-color: rgba(148,27,24,0.8);
}

.container{
  padding: 2px;
  font-size: 42px;
  text-align:center;
  border: solid black 5px;
  border-radius: 5px;
  margin-right: 50%;
  margin-left: 10%;
  background-color: rgba(19,16,14,0.4);
}
