body {
    background-color: lightpink;
  }
.main {
  border: 10px double black;
  width: 100%;
  height: 400px;
  text-align: center;
  font-size: 40px;

}
.compli {
  color: blue;
  font-style: italic;
}
